$--color--sign: #4F77FF;
$--color--textMain: #2D3958;
$--color--textSmoke: #E7E5E9;
$--color--background: #F7F5F1;
$--color--purple: #886CFF;
$--color--greenLight: #61DCDF;
$--color--blule: #4F77FF;
$--color--pink: #FFC0EC;
$--color--yellow: #FFC623;
$--color--textHeading: rgba(45, 57, 88, 1);
$--color--green: #34C635;
$--color--sign: #4F77FF;
$--color--textMain: #2D3958;
$--color--background: #F7F5F1;
$--color--purple: #886CFF;
$--color--greenLight: #61DCDF;
$--color--blule: #4F77FF;
$--color--pink: #FFC0EC;
$--color--yellow: #FFC623;
$--color--textHeading: rgba(45, 57, 88, 1);
$--color--green: #34C635;
$--color--orange: #FF9513;